*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // scroll-padding-top: 10vh;
    outline: 2px solid transparent;
}

body{ 
    font-family: sans-serif;
}

main {
    outline-color: pink;
}

#container {
    outline-color: yellow;
    width: 100%;
    margin-inline: auto;
    background-color: #151320;

}