*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
    outline: 2px solid transparent;
    @media (min-width: 768px){
        scroll-padding-top: 20vh;
    }
}

body{ 
    font-family: 'Inter', sans-serif;
}

#container {
    // outline-color: yellow;
    background-color: #151320;
    width: 100%;
    margin-inline: auto;
}

img {
    max-width: 100%;
    display: block;
}