@use './mixin';
nav{
    position: sticky;
    top: 0;
    width: 100%;
    padding: .5rem 5vw;
    background: #151320 ;
    z-index: 10;
    // outline-color: red;
    // overflow: hidden;
    height: auto;
    
    
    ul {
        // outline-color: blue;
        padding: 0.5rem 5vw 1rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        overflow-x: scroll;
        // NO SCROLL OVERFLOW ON DESKTOPS
        @include mixin.md {
            overflow: auto;
            padding: 1rem .5rem;
        }

        li {
            

            // outline-color: pink;
            text-align: center;
            list-style: none;
            font-weight: 100;
            font-size: .75rem;
            padding-inline: .5rem;
            border-right: 1px solid #fff2;
            border-left: 1px solid #fff2;
            cursor: default;
            @include mixin.sm {
                cursor: pointer;
                flex-basis: 50%;
            }
            a {
                font-family: 'Krona One', sans-serif;
                display: flex;
                text-decoration: none;
                flex-direction: column;
                align-items: center;
                color: #f4f4f4;
                opacity: .7;
                transition: .25s;

                img {
                    width: 2rem;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

}