@use './base';
@use './cards';
@use './nav';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Krona+One&display=swap');

:root {
    --ford-text: #5abbfc;
    --ford: linear-gradient(135deg,
            #0100ec,
            #6600ec5d,
            #0100ec);

    --audi-text: #0dcc0d;;
    --audi: linear-gradient(135deg,
            #008000,
            #00800065,
            #008000);

    --renault-text: #ffab1d;
    --renault: linear-gradient(135deg,
            #ffab1d,
            #f84f1ca9,
            #ffab1d);

    --toyota-text: #fc466a;
    --toyota: linear-gradient(135deg,
            #ff0000,
            #dc143c9f,
            #ff0000);

    --benz-text: #fff000 ;
    --benz: linear-gradient(235deg, #fff000,
            #ffee007c,
            #fff000);

    --bmw-text: #b1afaf;
    --bmw: linear-gradient(135deg,
            #000,
            rgba(121, 116, 116, 0.705),
            #000);
    --golf-text: #aca329;
    --golf: linear-gradient(135deg,
        #666117,
        #ffee008e,
        #666117);
    --civic-text: #9f9fce;
    --civic: linear-gradient(135deg,
        #030397,
        #09099473,
        #040475);
    --i30n-text: #32b5e0 ;
    --i30n: linear-gradient(135deg,
        rgb(50, 181, 224),
        #dc143c8a,
        rgb(50, 181, 224)
        );
}


/* footer{
    position: absolute;
    bottom: 0;
    background: red;
    width: 100%;
    text-align: center;
}
footer p{
    margin: 10px;
    padding: 10px;
    color: #fff;
    font-size: 1em;
} */


// .card::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: inherit;
//     box-shadow: inset 3px 3px 5px #ddda,
//                 inset -3px -3px 5px #000;
//     transition: 1s ease;
// }


.card1>figure::after {
    background-image: var(--ford);
    
}
.card2>figure::after {
    background-image: var(--audi);
}
.card3>figure::after {
    background-image: var(--renault);
    
}
.card4>figure::after {
    background-image: var(--toyota);
}
.card5>figure::after {
    background-image: var(--benz);
}
.card6>figure::after {
    background-image: var(--bmw); 
}
.card7>figure::after {
    background-image: var(--golf); 
}
.card8>figure::after {
    background-image: var(--civic); 
}
.card9>figure::after {
    background-image: var(--i30n); 
}

/*Details*/

.card1 .details>p {
    color: var(--ford-text);
}

.card2 .details>p {
    color: var(--audi-text);
}

.card3 .details>p {
    color: var(--renault-text);
}

.card4 .details>p {
    color: var(--toyota-text);
}

.card5 .details>p {
    color: var(--benz-text);
}

.card6 .details>p {
    color: var(--bmw-text);
}
.card7 .details>p {
    color: var(--golf-text);
}
.card8 .details>p {
    color: var(--civic-text);
}
.card9 .details>p {
    color: var(--i30n-text);
}


.card1:hover  >.details h3::before {
    color: var(--ford-text);
}
.card2:hover  >.details h3::before {
    color: var(--audi-text);
}
.card3:hover  >.details h3::before {
    color: var(--renault-text);
}
.card4:hover  >.details h3::before {
    color: var(--toyota-text);
}
.card5:hover  >.details h3::before {
    color: var(--benz-text);
}
.card6:hover  >.details h3::before {
    color: var(--bmw-text);
}
.card7:hover  >.details h3::before {
    color: var(--golf-text);
}
.card8:hover  >.details h3::before {
    color: var(--civic-text);
}
.card9:hover  >.details h3::before {
    color: var(--i30n-text);
}

/*end of heading hover and focus effect*/




















